# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados brutos
data/raw/*
!data/raw/.gitkeep

# Credenciais e variáveis de ambiente
.env